@include border-box-sizing;

$susy: (
        columns: 12,
        container: 1170px,
        gutters: 40px/98px,
        gutter-position: split,
        output: float,
        global-box-sizing: border-box,
        debug: (
               // image: show-columns,
             //   toggle: top right,
             //   output: background
        ),
        use-custom: (
          clearfix: false
        )
);



$breakpoint_ti: 467px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


//Add Color Palette
$blue       : #005296;
$blue-light : #5c9cc9;
$blue-link  : #0db0d9;
$grey-border : #555555;
$grey-line : #f2f2f5;
$grey-mid: #424242;
$grey-dark  : #4D4D4D;
$grey-darker  : #3a3a3a;

//Font variables
$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

// site defaults
$default_font-family : Lato, Arial, sans-serif;
$default_font-color  : #3f4663;
$default_font-size   : 0.525rem;
$default_font-size-desktop   : 0.625rem;
$default_line-height : $default_font-size + 0.2rem;
$default_line-height-desktop : $default_font-size-desktop + 0.2rem;
$default_link_color: #0097d8;
$default_link-color--hover : #005296;

$default_background-color: #fff;

$default_button-background-color: #0097d8;
$default_button-background-color--hover: #005296;
$default_button-color: #fff;

// ======================================
//  site logo & site name
// ======================================

$site_logo_name-height: auto;
$site_logo-margin-top: 0;
$site_logo-margin-bottom: 10px;
$site_logo-font-size: 2.6rem;
$site_logo-max-width: 80%;
$site_logo-color: $blue;
$site_name-margin-bottom: 75px;


// ======================================
//  nav - dropdown menu
// ======================================

$nav_background-color: transparent;
$nav_link-color: $grey-mid;
$nav_link-color--hover: #005296;
$nav_link-font-size: 1.6rem;
$nav_link-font-weight: $normal;
$nav_link-background-color: #f2f2f5;
$nav_link-background-color--hover: #f2f2f5;
$nav_link_top-margin-top: 0;
$nav_link_home-margin-top: 0;

$nav_dropdown_link-font-size: 1.5rem;
$nav_dropdown_link-background-color: #f2f2f5;
$nav_dropdown_link-color: #005296;
$nav_dropdown_link-color--hover: #fff;
$nav_dropdown_link-background-color--hover: #005296;
$nav_dropdown-background-color: #f2f2f5;
$nav_dropdown-color: #005296;
$nav_dropdown-background-color--hover: #005296;
$nav_dropdown-color--hover: $default_link_color--hover;

// ======================================
//  slicknav mobile menu
// ======================================

$slicknav_button-menu-color: #fff;
$slicknav_button-text-shadow: rgba(255, 255, 255, 0.75);
$slicknav_button-background-color: transparent ;
$slicknav_button-background-color--open: transparent;
$slicknav-color: #fff;
$slicknav-text-shadow: #fff;
$slicknav-header-background-color: #005296;
$slicknav-top-level-background-color: #f2f2f5;
$slicknav-background-color: #005296;
$slicknav-background-color--hover: #005296;
$slicknav-color--hover: #fff;
$slicknav-color--open: #005296;
$slicknav-background--open: #f2f2f5;
$slicknav-background--open--hover: #005296;
$slicknav-toplink-background-color--open: lighten($blue-light,10);
$slicknav-toplink-color--open: $slicknav-color;
$slicknav-font-size: $default_font-size;
$slicknav-submenu-font-size: $default_font-size -3px;
$slicknav_sub_menu-background-color: #f2f2f5;
$slicknav-link-border-color: $blue;
$slicknav-background-parent--collapsed: lighten($blue-light,20);
$slicknav-background-parent--open: $blue-light;

// ======================================
//  slice banner slideshow
// ======================================
$banner_slideshow-background-color: #fff;
$banner_slideshow_pager-background-color: #dadee4;
$banner_slideshow_pager-background-color--active: #0097d8;
$banner_slideshow_pager-width-height: 14px;
$banner_slideshow_control-background-color: #fff;
$banner_slideshow_slidetitle-font-family: $default_font-family;

// ======================================
//  slice blocks 2
// ======================================

$block2-color: #3f4663;
$block2-title-color: #0097d8;

// ======================================
//  slice get started
// ======================================

$block3a_background-color: #f2f2f5;
$block3a_panel_background-color: #fff;
$block3a_color: #3f4663;
$block3a_title-color: #3f4663;
$block3a_link-color: #0097d8;
$block3a_link-color--hover: #fff;
$block3a_link-background-color: #fff;
$block3a_link-background-color--hover: #3f4663;
$block3a_border-color: #f2f2f5;
$block3a_arrow-color: #bcbcbc;
$block3a_date_color: #0097d8;

// ======================================
//  slice upcoming events
// ======================================

$block3b_background-color: #fff;
$block3b_panel_background-color: #f2f2f5;
$block3b_color: #3f4663;
$block3b_title-color: #3f4663;
$block3b_link-color: #0097d8;
$block3b_link-color--hover: #fff;
$block3b_link-background-color: #f2f2f5;
$block3b_link-background-color--hover: #3f4663;
$block3b_border-color: #fff;
$block3b_arrow-color: #bcbcbc;
$block3b_date_color: #0097d8;
$block3b_button-font-size: 1.8rem;
$block3b_button-color: #3f4663;
$block3b_button-color--hover: #fff;
$block3b_button-border-color: #ebebeb;
$block3b_button-border-color--hover: #005296;
$block3b_button-background-color: #fff;
$block3b_button-background-color--hover: #005296;
// ======================================
//  slice latest media
// ======================================

$block3c_background-color: #f2f2f5;
$block3c_panel_background-color: #fff;
$block3c_color: #3f4663;
$block3c_title-color: #3f4663;
$block3c_link-color: #0097d8;
$block3c_link-color--hover: #fff;
$block3c_link-background-color: #f2f2f5;
$block3c_link-background-color--hover: #3f4663;
$block3c_border-color: #f2f2f5;
$block3c_arrow-color: #bcbcbc;
$block3c_date_color: #0097d8;
$block3c_button-font-size: 1.8rem;
$block3c_button-color: #3f4663;
$block3c_button-color--hover: #fff;
$block3c_button-border-color: #ebebeb;
$block3c_button-border-color--hover: #005296;
$block3c_button-background-color: #fff;
$block3c_button-background-color--hover: #005296;

// ======================================
//  slice footerbar
// ======================================

$footerbar_background-color: $grey-darker;
$footerbar_font-color: #b1b1b1;
$footerbar_font-size: 1.3rem;


// ======================================
//  slice footertop-1
// ======================================

$footertop1_background-color: $blue-light;


// ======================================
//  slice footertop-2
// ======================================

$footertop2_background-color: $grey-darker;
$footertop2_font-color: #dadee4;
$footertop2_font-color-link: #dadee4;

$footertop2_search_button-background-color: $blue-light;
$footertop2_search_button-background-color--hover: lighten($blue-light, 20%);
$footertop2_search_button-color: #fff;


// ======================================
//  system
// ======================================


$system_sitebutton_border-color: $blue-light;
$system_sitebutton_color: $blue-light;

//  system - statusbar
// ======================================

$system_statusbar_link_border-color: $grey-border;
$system_statusbar_link_color: #dadee4;

$system_statusbar_loginbox_border-color: $blue-light;


//  system - calendar
// ======================================

$system_calendar_day_header-color: $grey-dark;
$system_calendar_day_header-border-color: #43525a;
$system_calendar_day_header-background-color: #f6f6f6;
$system_calendar_day_wrapper_today-background-color: #fff;
$system_calendar_calendar_day_today-background-color: #fff;
$system_calendar_event_all_day-background-color: #fff;
$system_calendar_other_month-background-color: #fff;


$system_profile-background-color: #eef7fb;

$system_tabSelected-background-color: #eef7fb;
$system_tabSelected-border-color: #eef7fb;
$system_tabLeft-color: #fff;
$system_tabLeft-border-color: #fff;
$system_tabRight-color: #fff;
$system_tabRight-border-color: #fff;
$system_tabLink-color: #0cc;
$system_tabLink-background-color: #f7fbfd;
$system_tabLink-color--hover: #0CC;
$system_tabLink-background-color--hover: #e3f1f8;

$system_shadedBox-background-color: #eef7fb;

$system_my_area_navigation-background-color: #999;

//  system - forums
// ======================================

$system_griditem-background-color: #eef7fb;
$system_comment_form_button-background-color: transparent;
$system_comment_form_button-border-color: #d1d2d4;
$system_comment_form_button-color: $grey-dark;
$system_comment_form_button-background-color--hover: #5ac5c5;
$system_comment_form_button-border-color--hover: #5ac5c5;
$system_comment_form_button-color--hover: #fff;

//  system - media
// ======================================

$system_media_recording_title-color: $grey-dark;

//  system - rotas
// ======================================

$system_subMenu-color: #fff;
$system_subMenu-border-color: #0cc;
$system_subMenu-background-color: #0cc;

//  system - address
// ======================================
$system_address_column-border-color: #fff;
$system_address_user_details_cell-border-color: #fff;
$system_address_address_user_first_name-background-color: #f6f6f6;
$system_address_address_family_title-background-color: #f6f6f6;


//  system - popup windows
// ======================================
$system_calendar_popup_window-color: $grey-dark;
$system_calendar_popup_window-background-color: #fff;
$system_calendar_popup_window-title-background-color: #fff;
$system_calendar_popup_window-table-background-color: #fff;
$system_calendar_day_header-border-color: #43525a;




