// ======================================
// slice  3a get started
// ======================================

// slice  3a layout
// ======================================
.slice_blocks3.slice_started {

  .blocks3 {

    > div {
      @include span(12);
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include susy-breakpoint($breakpoint-ti) {
        @include span(6);

        &:last-of-type {
          margin-left: span(3 wide of 12);
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }

      @include susy-breakpoint($breakpoint-sm) {
        @include span(4);

        &:last-of-type {
          margin-left:gutter(12);
          margin-top: 0;

        }
      }
    }
  }

}

// slice  3a style
// ======================================

.slice_blocks3.slice_started {
  @include clearfix;
  padding: 36px 0 40px;


  .blockTitle {
    font-size: 3.6rem;
    line-height: 3.6rem + 0.5rem;
    color: $block3a_color;
    text-align: center;
    padding: 0 0 40px;
  }

  background-color: $block3a_background-color;
  .blocks3 {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    > div {

      display: flex;
      flex-direction: column;
      background-color: $block3a_panel_background-color;

      .articleListImage {
        img {
          width:100%;
        }

      }

      .articleListSummary {
        font-size: 1.8rem;
        line-height: 1.8rem + 0.5rem;
        color: $block3a_color;
        padding:15px 30px 25px !important;
        border-bottom: 2px solid $block3a_border-color;
        flex: 1 0 auto;
      }

      .articleListTitle {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;

        a {
          font-size: 1.8rem;
          color: $block3a_link-color;
          padding: 18px 10px 18px 30px;
          display: inline-block;
          width: 100%;
          &:hover {
            color: $block3a_link-color--hover;
          }


        }
        &:after {
          content:".";
          display: block;
          float: right;
          background: url(../images/moreArrow.png) no-repeat 0 13px;
          width: 30px;
          height: 40px;
          color: $block3a_arrow-color;
          text-indent: -9999px;
          margin-top: -43px;

          @include susy-breakpoint($breakpoint-sm) {
            & {
              background-position: 0px 22px;
              margin-top: -53px;
            }
          }
        }
        &:hover {
          background-color: $block3a_link-background-color--hover;
          color: $block3a_link-color--hover;
        }
      }
    }


  }
}