// ======================================
// system statusbar
// ======================================

.greeting_div {
  display: none;
}

.login-column {

  .statusbar {

    margin: 0 auto;
    width: 225px;

    a {
      display: inline-block;
      height: 45px;
      margin-right: 5px;
      padding-top: 15px;
      padding-right: 17px;
      padding-left: 17px;
      border: 2px solid $system_statusbar_link_border-color;
      border-radius: 2px;
      background-color: $system_statusbar_link_background-color;
      font-size: 1.5rem;
      color: $system_statusbar_link_color;
      text-align: center;
      text-decoration: none;

      @include susy-breakpoint($breakpoint-sm) {
        & {
         // padding-top: 8px;
        }
      }

      &:hover {
        border-color: $system_statusbar_link_border-color-hover;
        background-color: $system_statusbar_link_background-color--hover;
      }
    }
  }
}
